# Ambientes virtuais
venv/
.env/
.env
.venv/

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Log
*.log

# Diretórios de compilação
build/
dist/
*.egg-info/

# PyCharm
.idea/

# Configuração do VSCode
.vscode/

# Configuração do Eclipse
.project
.pydevproject

# SQLite
*.sqlite3

# Configuração do Jupyter Notebooks
.ipynb_checkpoints/

# Sistema operacional
*.swp
*.swo
.DS_Store
Thumbs.db
"__pycache__/" 
